<%= flash[:notice] %>

<div class="show_box">
<div class = "show_title">
<h3>Title:</h3>
<span><%= @book.title %></span>
</div>

<div class ="show_body">
<h3>Body:</h3>
<span><%= @book.body %></span>
</div>
</div>

<div class="show_link">
<!--link_to 表示させるテキスト , リンク先URL [,オプション] -->
<%= link_to "Edit", edit_book_path(@book.id) %>
 |
<%= link_to "Back", '/books' %>
</div>
